<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
        <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="pm.eclipse.editbox.actions.SelectBox"
            id="pm.eclipse.editbox.SelectBox"
            name="EditBox Select box"/>
        <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="pm.eclipse.editbox.actions.UnselectBox"
            id="pm.eclipse.editbox.UnselectBox"
            name="EditBox Unselect box"/>
        <command
            categoryId="org.eclipse.ui.category.window"
            id="pm.eclipse.editbox.actions.EnableEditBoxCmd"
            defaultHandler="pm.eclipse.editbox.actions.EnableEditBox"
            name="EditBox on/off"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
       <page id="pm.eclipse.editbox.pref.default"
             class="pm.eclipse.editbox.pref.EditboxPreferencePage"
             name="EditBox">
       </page>
    </extension>
   
    <extension point="org.eclipse.ui.bindings">
        <key commandId="pm.eclipse.editbox.SelectBox" sequence="ALT+Z"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>

    <extension point="org.eclipse.ui.startup">
      <startup class="pm.eclipse.editbox.actions.EditBoxStartup"/>
    </extension>

	<extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="pm.eclipse.editbox.ActionSetId" label="EditBox" visible="true">
		   <action id="pm.eclipse.editbox.EnableEditboxActionId"
			            label="EditBox" 
						toolbarPath="EditBox"
						style="toggle"
						icon="icons/editbox.png" 
						tooltip="Editbox on/off"  
						class="pm.eclipse.editbox.actions.EnableEditBox"
						definitionId="pm.eclipse.editbox.actions.EnableEditBoxCmd" >
		   </action>
	   </actionSet>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="pm.eclipse.editbox.views.TRCView"
          icon="icons/sample.png"
          id="pm.eclipse.editbox.views.TRCview2"
          name="TRC View">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="pm.eclipse.editbox.views.TRCview2">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <viewerContentBinding
          viewerId="pm.eclipse.editbox.views.TRCview2">
       <includes>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.linkHelper">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.workingSets">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.ui.resourcePerspective">
       <view
             id="pm.eclipse.editbox.views.TRCview2"
             ratio="0.5"
             relationship="stack"
             relative="org.eclipse.ui.views.ContentOutline"
             visible="true">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="pm.eclipse.editbox"
          name="TRC Wizards">
    </category>
    <wizard
          category="pm.eclipse.editbox"
          class="pm.eclipse.editbox.wizards.TRCNewWizard"
          icon="icons/sample.png"
          id="pm.eclipse.editbox.wizards.TRCNewWizard"
          name="Traceability Data file">
    </wizard>
 </extension>

</plugin>
